-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('STUDENT', 'INSTRUCTOR', 'ADMIN');

-- CreateEnum
CREATE TYPE "CommunityType" AS ENUM ('PUBLIC', 'PRIVATE');

-- CreateEnum
CREATE TYPE "FileContext" AS ENUM ('POST', 'SUBMISSION', 'NOTE', 'ASSIGNMENT', 'COMMUNITY_BANNER', 'USER_AVATAR');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('ANNOUNCEMENT', 'ASSIGNMENT', 'SUBMISSION_GRADED', 'REPLY', 'SYSTEM', 'TASK_INVITE');

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" SERIAL NOT NULL,
    "date" TIMESTAMP(6),
    "associated_uid" INTEGER NOT NULL,
    "associated_cid" UUID,
    "description" VARCHAR,
    "action_type" INTEGER,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Admin" (
    "uid" INTEGER NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("uid")
);

-- CreateTable
CREATE TABLE "Assignment" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR NOT NULL,
    "description" VARCHAR,
    "due_date" TIMESTAMP(6),
    "max_points" DOUBLE PRECISION,
    "canBeLate" BOOLEAN NOT NULL DEFAULT true,
    "assigner_uid" INTEGER NOT NULL,
    "cid" UUID NOT NULL,

    CONSTRAINT "Assignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssignmentFileAttachment" (
    "aid" INTEGER,
    "fid" UUID NOT NULL,

    CONSTRAINT "AssignmentFileAttachment_pkey" PRIMARY KEY ("fid")
);

-- CreateTable
CREATE TABLE "Badge" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR NOT NULL,
    "icon_url" VARCHAR NOT NULL,

    CONSTRAINT "Badge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comment" (
    "id" SERIAL NOT NULL,
    "pid" INTEGER NOT NULL,
    "content" VARCHAR NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "approved_by_inst" BOOLEAN NOT NULL,
    "approved_by_op" BOOLEAN NOT NULL,
    "approved_at_inst" TIMESTAMP(6),
    "approved_at_op" TIMESTAMP(6),
    "comment_date" TIMESTAMP(6) NOT NULL,
    "commenter_uid" INTEGER NOT NULL,
    "parent_comment_pid" INTEGER,
    "parent_comment_id" INTEGER,

    CONSTRAINT "Comment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Community" (
    "id" UUID NOT NULL,
    "name" VARCHAR NOT NULL,
    "description" VARCHAR,
    "type" "CommunityType" NOT NULL,
    "banner_file_id" UUID,

    CONSTRAINT "Community_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Enrollment" (
    "cid" UUID NOT NULL,
    "sid" INTEGER NOT NULL,

    CONSTRAINT "Enrollment_pkey" PRIMARY KEY ("cid","sid")
);

-- CreateTable
CREATE TABLE "File" (
    "id" UUID NOT NULL,
    "uploader_id" INTEGER,
    "context" "FileContext" NOT NULL,
    "context_id" VARCHAR(128) NOT NULL,
    "public_id" TEXT NOT NULL,
    "resource_type" TEXT NOT NULL,
    "secure_url" TEXT NOT NULL,
    "format" TEXT,
    "is_private" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "File_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Instructor" (
    "uid" INTEGER NOT NULL,
    "title" VARCHAR,
    "area_of_expertise" VARCHAR,
    "google_scholar_link" VARCHAR,

    CONSTRAINT "Instructor_pkey" PRIMARY KEY ("uid")
);

-- CreateTable
CREATE TABLE "Manages" (
    "iid" INTEGER NOT NULL,
    "cid" UUID NOT NULL,

    CONSTRAINT "Manages_pkey" PRIMARY KEY ("iid","cid")
);

-- CreateTable
CREATE TABLE "Note" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR NOT NULL,
    "body" VARCHAR,
    "created_at" TIMESTAMP(6) NOT NULL,
    "updated_at" TIMESTAMP(6),
    "owner_uid" INTEGER NOT NULL,
    "notebook_id" INTEGER,

    CONSTRAINT "Note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NoteFileAttachment" (
    "nid" INTEGER,
    "fid" UUID NOT NULL,

    CONSTRAINT "NoteFileAttachment_pkey" PRIMARY KEY ("fid")
);

-- CreateTable
CREATE TABLE "Notebook" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR NOT NULL,
    "description" VARCHAR,
    "created_at" TIMESTAMP(6) NOT NULL,
    "updated_at" TIMESTAMP(6),
    "owner_uid" INTEGER NOT NULL,

    CONSTRAINT "Notebook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationContent" (
    "id" SERIAL NOT NULL,
    "message" VARCHAR NOT NULL,
    "type" "NotificationType" NOT NULL,
    "resourceId" VARCHAR,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NotificationContent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserNotification" (
    "id" SERIAL NOT NULL,
    "notificationId" INTEGER NOT NULL,
    "recipientId" INTEGER NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "UserNotification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Post" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR NOT NULL,
    "type" VARCHAR NOT NULL,
    "post_date" TIMESTAMP(6) NOT NULL,
    "body" VARCHAR,
    "is_resolved" BOOLEAN,
    "owner_uid" INTEGER NOT NULL,
    "cid" UUID NOT NULL,

    CONSTRAINT "Post_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PostFileAttachment" (
    "pid" INTEGER,
    "fid" UUID NOT NULL,

    CONSTRAINT "PostFileAttachment_pkey" PRIMARY KEY ("fid")
);

-- CreateTable
CREATE TABLE "PostNoteAttachment" (
    "pid" INTEGER NOT NULL,
    "nid" INTEGER NOT NULL,

    CONSTRAINT "PostNoteAttachment_pkey" PRIMARY KEY ("pid","nid")
);

-- CreateTable
CREATE TABLE "PostTag" (
    "post_id" INTEGER NOT NULL,
    "tag" VARCHAR NOT NULL,

    CONSTRAINT "PostTag_pkey" PRIMARY KEY ("post_id","tag")
);

-- CreateTable
CREATE TABLE "Session" (
    "cid" UUID NOT NULL,
    "title" VARCHAR NOT NULL,
    "start_time" TIMESTAMP(6) NOT NULL,
    "meet_url" VARCHAR NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("cid")
);

-- CreateTable
CREATE TABLE "Student" (
    "uid" INTEGER NOT NULL,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("uid")
);

-- CreateTable
CREATE TABLE "StudentBadge" (
    "sid" INTEGER NOT NULL,
    "bid" INTEGER NOT NULL,

    CONSTRAINT "StudentBadge_pkey" PRIMARY KEY ("sid","bid")
);

-- CreateTable
CREATE TABLE "Submission" (
    "id" SERIAL NOT NULL,
    "subm_date" TIMESTAMP(6) NOT NULL,
    "grade" DOUBLE PRECISION,
    "feedback" VARCHAR,
    "aid" INTEGER NOT NULL,
    "sid" INTEGER NOT NULL,

    CONSTRAINT "Submission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubmissionFileAttachment" (
    "subid" INTEGER,
    "fid" UUID NOT NULL,

    CONSTRAINT "SubmissionFileAttachment_pkey" PRIMARY KEY ("fid")
);

-- CreateTable
CREATE TABLE "Task" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR NOT NULL,
    "description" VARCHAR,
    "priority" INTEGER,
    "start_date" TIMESTAMP(6),
    "end_date" TIMESTAMP(6),
    "status" INTEGER NOT NULL,
    "author" INTEGER NOT NULL,
    "parent_task" INTEGER,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskAssignees" (
    "tid" INTEGER NOT NULL,
    "sid" INTEGER NOT NULL,
    "isAccepted" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "TaskAssignees_pkey" PRIMARY KEY ("tid","sid")
);

-- CreateTable
CREATE TABLE "TaskAssignmentRelation" (
    "aid" INTEGER,
    "tid" INTEGER NOT NULL,

    CONSTRAINT "TaskAssignmentRelation_pkey" PRIMARY KEY ("tid")
);

-- CreateTable
CREATE TABLE "TaskTag" (
    "task_id" INTEGER NOT NULL,
    "tag" VARCHAR NOT NULL,

    CONSTRAINT "TaskTag_pkey" PRIMARY KEY ("task_id","tag")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR NOT NULL,
    "fname" VARCHAR NOT NULL,
    "lname" VARCHAR NOT NULL,
    "activated" BOOLEAN NOT NULL DEFAULT true,
    "hashedPassword" VARCHAR NOT NULL,
    "role" "Role" DEFAULT 'STUDENT',
    "token_hash" VARCHAR,
    "avatar_file_id" UUID,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Voted" (
    "sid" INTEGER NOT NULL,
    "pid" INTEGER NOT NULL,
    "voteType" BOOLEAN NOT NULL,

    CONSTRAINT "Voted_pkey" PRIMARY KEY ("sid","pid")
);

-- CreateIndex
CREATE INDEX "ActivityLog_associated_uid_idx" ON "ActivityLog"("associated_uid");

-- CreateIndex
CREATE INDEX "ActivityLog_associated_cid_idx" ON "ActivityLog"("associated_cid");

-- CreateIndex
CREATE INDEX "ActivityLog_date_idx" ON "ActivityLog"("date");

-- CreateIndex
CREATE INDEX "Assignment_cid_idx" ON "Assignment"("cid");

-- CreateIndex
CREATE INDEX "Assignment_assigner_uid_idx" ON "Assignment"("assigner_uid");

-- CreateIndex
CREATE INDEX "Assignment_due_date_idx" ON "Assignment"("due_date");

-- CreateIndex
CREATE INDEX "Assignment_cid_due_date_idx" ON "Assignment"("cid", "due_date");

-- CreateIndex
CREATE INDEX "Comment_pid_idx" ON "Comment"("pid");

-- CreateIndex
CREATE INDEX "Comment_commenter_uid_idx" ON "Comment"("commenter_uid");

-- CreateIndex
CREATE INDEX "Comment_parent_comment_id_idx" ON "Comment"("parent_comment_id");

-- CreateIndex
CREATE INDEX "Comment_comment_date_idx" ON "Comment"("comment_date");

-- CreateIndex
CREATE INDEX "Comment_pid_isDeleted_idx" ON "Comment"("pid", "isDeleted");

-- CreateIndex
CREATE INDEX "Community_type_idx" ON "Community"("type");

-- CreateIndex
CREATE INDEX "Community_name_idx" ON "Community"("name");

-- CreateIndex
CREATE INDEX "Community_banner_file_id_idx" ON "Community"("banner_file_id");

-- CreateIndex
CREATE INDEX "Enrollment_sid_idx" ON "Enrollment"("sid");

-- CreateIndex
CREATE INDEX "Enrollment_cid_idx" ON "Enrollment"("cid");

-- CreateIndex
CREATE INDEX "idx_file_context" ON "File"("context", "context_id");

-- CreateIndex
CREATE INDEX "Manages_iid_idx" ON "Manages"("iid");

-- CreateIndex
CREATE INDEX "Manages_cid_idx" ON "Manages"("cid");

-- CreateIndex
CREATE INDEX "Note_owner_uid_idx" ON "Note"("owner_uid");

-- CreateIndex
CREATE INDEX "Note_notebook_id_idx" ON "Note"("notebook_id");

-- CreateIndex
CREATE INDEX "Note_created_at_idx" ON "Note"("created_at");

-- CreateIndex
CREATE INDEX "Notebook_owner_uid_idx" ON "Notebook"("owner_uid");

-- CreateIndex
CREATE INDEX "idx_usernotification_recipient" ON "UserNotification"("recipientId");

-- CreateIndex
CREATE INDEX "idx_usernotification_recipient_isRead" ON "UserNotification"("recipientId", "isRead");

-- CreateIndex
CREATE INDEX "Post_cid_idx" ON "Post"("cid");

-- CreateIndex
CREATE INDEX "Post_owner_uid_idx" ON "Post"("owner_uid");

-- CreateIndex
CREATE INDEX "Post_post_date_idx" ON "Post"("post_date");

-- CreateIndex
CREATE INDEX "Post_cid_post_date_idx" ON "Post"("cid", "post_date");

-- CreateIndex
CREATE INDEX "Post_title_idx" ON "Post"("title");

-- CreateIndex
CREATE INDEX "Post_type_idx" ON "Post"("type");

-- CreateIndex
CREATE INDEX "PostTag_tag_idx" ON "PostTag"("tag");

-- CreateIndex
CREATE INDEX "PostTag_post_id_idx" ON "PostTag"("post_id");

-- CreateIndex
CREATE INDEX "Submission_aid_idx" ON "Submission"("aid");

-- CreateIndex
CREATE INDEX "Submission_sid_idx" ON "Submission"("sid");

-- CreateIndex
CREATE INDEX "Submission_subm_date_idx" ON "Submission"("subm_date");

-- CreateIndex
CREATE INDEX "Submission_sid_aid_idx" ON "Submission"("sid", "aid");

-- CreateIndex
CREATE INDEX "Task_author_idx" ON "Task"("author");

-- CreateIndex
CREATE INDEX "Task_status_idx" ON "Task"("status");

-- CreateIndex
CREATE INDEX "Task_end_date_idx" ON "Task"("end_date");

-- CreateIndex
CREATE INDEX "Task_parent_task_idx" ON "Task"("parent_task");

-- CreateIndex
CREATE INDEX "TaskAssignees_sid_idx" ON "TaskAssignees"("sid");

-- CreateIndex
CREATE INDEX "TaskAssignees_tid_idx" ON "TaskAssignees"("tid");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE INDEX "User_avatar_file_id_idx" ON "User"("avatar_file_id");

-- CreateIndex
CREATE INDEX "Voted_pid_idx" ON "Voted"("pid");

-- CreateIndex
CREATE INDEX "Voted_sid_idx" ON "Voted"("sid");

-- CreateIndex
CREATE INDEX "Voted_pid_voteType_idx" ON "Voted"("pid", "voteType");

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_associated_cid_fkey" FOREIGN KEY ("associated_cid") REFERENCES "Community"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_associated_uid_fkey" FOREIGN KEY ("associated_uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Admin" ADD CONSTRAINT "Admin_uid_fkey" FOREIGN KEY ("uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Assignment" ADD CONSTRAINT "Assignment_assigner_uid_fkey" FOREIGN KEY ("assigner_uid") REFERENCES "Instructor"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Assignment" ADD CONSTRAINT "Assignment_cid_fkey" FOREIGN KEY ("cid") REFERENCES "Community"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssignmentFileAttachment" ADD CONSTRAINT "AssignmentFileAttachment_aid_fkey" FOREIGN KEY ("aid") REFERENCES "Assignment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssignmentFileAttachment" ADD CONSTRAINT "AssignmentFileAttachment_fid_fkey" FOREIGN KEY ("fid") REFERENCES "File"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_commenter_uid_fkey" FOREIGN KEY ("commenter_uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_parent_comment_id_fkey" FOREIGN KEY ("parent_comment_id") REFERENCES "Comment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_pid_fkey" FOREIGN KEY ("pid") REFERENCES "Post"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Community" ADD CONSTRAINT "Community_banner_file_id_fkey" FOREIGN KEY ("banner_file_id") REFERENCES "File"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Enrollment" ADD CONSTRAINT "Enrollment_cid_fkey" FOREIGN KEY ("cid") REFERENCES "Community"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Enrollment" ADD CONSTRAINT "Enrollment_sid_fkey" FOREIGN KEY ("sid") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "File" ADD CONSTRAINT "File_uploader_id_fkey" FOREIGN KEY ("uploader_id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Instructor" ADD CONSTRAINT "Instructor_uid_fkey" FOREIGN KEY ("uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Manages" ADD CONSTRAINT "Manages_cid_fkey" FOREIGN KEY ("cid") REFERENCES "Community"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Manages" ADD CONSTRAINT "Manages_iid_fkey" FOREIGN KEY ("iid") REFERENCES "Instructor"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Note" ADD CONSTRAINT "Note_notebook_id_fkey" FOREIGN KEY ("notebook_id") REFERENCES "Notebook"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Note" ADD CONSTRAINT "Note_owner_uid_fkey" FOREIGN KEY ("owner_uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NoteFileAttachment" ADD CONSTRAINT "NoteFileAttachment_fid_fkey" FOREIGN KEY ("fid") REFERENCES "File"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NoteFileAttachment" ADD CONSTRAINT "NoteFileAttachment_nid_fkey" FOREIGN KEY ("nid") REFERENCES "Note"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notebook" ADD CONSTRAINT "Notebook_owner_uid_fkey" FOREIGN KEY ("owner_uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserNotification" ADD CONSTRAINT "UserNotification_notificationId_fkey" FOREIGN KEY ("notificationId") REFERENCES "NotificationContent"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserNotification" ADD CONSTRAINT "UserNotification_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Post" ADD CONSTRAINT "Post_cid_fkey" FOREIGN KEY ("cid") REFERENCES "Community"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Post" ADD CONSTRAINT "Post_owner_uid_fkey" FOREIGN KEY ("owner_uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PostFileAttachment" ADD CONSTRAINT "PostFileAttachment_fid_fkey" FOREIGN KEY ("fid") REFERENCES "File"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PostFileAttachment" ADD CONSTRAINT "PostFileAttachment_pid_fkey" FOREIGN KEY ("pid") REFERENCES "Post"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PostNoteAttachment" ADD CONSTRAINT "PostNoteAttachment_nid_fkey" FOREIGN KEY ("nid") REFERENCES "Note"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PostNoteAttachment" ADD CONSTRAINT "PostNoteAttachment_pid_fkey" FOREIGN KEY ("pid") REFERENCES "Post"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PostTag" ADD CONSTRAINT "PostTag_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "Post"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_cid_fkey" FOREIGN KEY ("cid") REFERENCES "Community"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Student" ADD CONSTRAINT "Student_uid_fkey" FOREIGN KEY ("uid") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentBadge" ADD CONSTRAINT "StudentBadge_bid_fkey" FOREIGN KEY ("bid") REFERENCES "Badge"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentBadge" ADD CONSTRAINT "StudentBadge_sid_fkey" FOREIGN KEY ("sid") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Submission" ADD CONSTRAINT "Submission_aid_fkey" FOREIGN KEY ("aid") REFERENCES "Assignment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Submission" ADD CONSTRAINT "Submission_sid_fkey" FOREIGN KEY ("sid") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissionFileAttachment" ADD CONSTRAINT "SubmissionFileAttachment_fid_fkey" FOREIGN KEY ("fid") REFERENCES "File"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissionFileAttachment" ADD CONSTRAINT "SubmissionFileAttachment_subid_fkey" FOREIGN KEY ("subid") REFERENCES "Submission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_author_fkey" FOREIGN KEY ("author") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_parent_task_fkey" FOREIGN KEY ("parent_task") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskAssignees" ADD CONSTRAINT "TaskAssignees_sid_fkey" FOREIGN KEY ("sid") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskAssignees" ADD CONSTRAINT "TaskAssignees_tid_fkey" FOREIGN KEY ("tid") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskAssignmentRelation" ADD CONSTRAINT "TaskAssignmentRelation_aid_fkey" FOREIGN KEY ("aid") REFERENCES "Assignment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskAssignmentRelation" ADD CONSTRAINT "TaskAssignmentRelation_tid_fkey" FOREIGN KEY ("tid") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskTag" ADD CONSTRAINT "TaskTag_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_avatar_file_id_fkey" FOREIGN KEY ("avatar_file_id") REFERENCES "File"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Voted" ADD CONSTRAINT "Voted_pid_fkey" FOREIGN KEY ("pid") REFERENCES "Post"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Voted" ADD CONSTRAINT "Voted_sid_fkey" FOREIGN KEY ("sid") REFERENCES "Student"("uid") ON DELETE CASCADE ON UPDATE CASCADE;

